<template name='listViewTemplate'>
	<div class="container">
		<div class="col-sm-9">
			{{#unless currentUser}}
				<div class="alert alert-error">
				log in to access your kaleo
				</div>
				<h2 class='login-welcome'>sign in above to access your kaleo</h2>
			{{/unless}}

				<a class='button-text btn new-list btn_style' id='new-list-button'>new list</a>
				<form class="form-inline new_list_form">
					  <div class="form-group">
					    <input type="text" name='title' class="form-control" placeholder="title">
					  </div>
					  <div class="form-group">
					    <input type="text" name='description' class="form-control" placeholder="description">
					  </div>
					  <div class="form-group">
					    <input type="text" id='shared_user_field' name='shared_user' class="form-control" placeholder='shared_user'>
					  </div>
					  <button type="submit" class="btn btn-default">create</button>
					  <button type='button' class="btn btn-default" id='share_button'>share</button>
				</form>
			<div class="row">
				<ul class='listViewList'>
					{{#each listCollection}}
					<li class='listViewEntry'>
						<div class="row">
							<h4>{{title}}</h4> {{description}} <i>[created: {{dateCreated}}] </i>
							<!-- <div class="btn btn-xs" id="edit-list">e</div> -->
							<div class="btn btn-xs btn-danger" id="delete-list">x</div>
							<a class='button-text-white btn btn-xs btn-success' id="edit" href="{{pathFor 'detailsView'}}">></a>
						</div>
						{{#unless sharedUserField}}
						<div class="row">
							<u>shared_user</u>: {{shared_user}}
						</div>
						{{/unless}}
					</li>
					{{/each}}
				</ul>
				<ul id='usersList'>
					<h3>share with user</h3>
					{{#each allUsers}}
					<li id='users_to_choose'>
						{{_id}}
						<div class="btn btn-xs btn-primary select_to_share">select</div>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</template>
