/*GENERAL STYLING*/

body{
	background-image: url('/bg.png')
}

h1, h2, h3, .container, .btn, .button-text{
	opacity: 0.9;
}

.myKaleo{
	margin-left: 6em;
}

/*LIST/DETAIL VIEW STYLING*/

.layout-buttons, .new-list {
	margin-left: 1em;
}

.navbar{
	margin-left: 4em;
}

.new-list-form, .form-group{
	padding: 1em;
}

.new-list-form{
	display: none;
}

.listViewList{
	margin-top: 2em;
}

.listViewEntry{
	margin-top: 1em;
}

.listViewList li, .detailViewEntry{
	list-style-type: none;
}

.detailViewEntry{
	margin-top: 2/3em;
}

.detailViewEntry .detailCheckbox{
	margin-top: -1px;
}

.toggle{
	opacity: 0.4;
}


/*BUTTON DESIGN*/
.btn{
	border-radius: 88px;
	vertical-align: center;
}

.myKaleo .button-text{
	color: black;
	opacity: 0.7;
}

.button-text-white{
	color: white;
}