/*GENERAL STYLING*/

body{
	background-image: url('/bg.png')
}

h1, h2, h3, .container, .btn, .button-text{
	opacity: 0.9;
}

.myKaleo{
	margin-left: 6em;
}

/*LIST/DETAIL VIEW STYLING*/

.layout-buttons, .new-list {
	margin-left: 1em;
}

.navbar{
	margin-left: 4em;
}

.new_list_form, .form-group{
	padding: 1em;
	margin-bottom: -2em;
}

.new_list_form{
	display: none;
}

.listViewList{
	margin-top: 1em;
	float: left;
}

.listViewEntry{
	margin-top: 1em;
}

.listViewList li, .detailViewEntry{
	list-style-type: none;
}

.detailViewEntry{
	padding: 1em;
}

.detailViewList{
	margin-left: -0.5em;
}

.detailViewEntry .detailCheckbox{
	margin-top: -1px;
}

.toggle{
	opacity: 0.4;
}


/*BUTTON DESIGN*/
.btn{
	border-radius: 88px;
	vertical-align: center;
}

.myKaleo .button-text{
	color: black;
	opacity: 0.7;
}

.button-text-white{
	color: white;
}

.btn_style{
	border: 2px solid rgba(0, 0, 0, .5);
}

/*SHARE WITH USERS*/

#usersList{
	padding-top: 2.66em;
	padding-right: 38em;
	float: right;
	text-align: center;
	visibility: hidden;
}

#usersList li{
	padding-bottom: 1em;
	list-style-type: none;
}

#share_with_user_text{
	margin-bottom: 1em;
}

.new_list_form{
	padding-bottm: -2em;
}