/*LIST VIEW STYLING*/

.layout-buttons, .new-list {
	margin-left: 1em;
}

.navbar{
	margin-left: 4em;
}

.new-list-form, .form-group{
	padding: 1em;
}

.new-list-form{
	display: none;
}

.listViewList{
	margin-top: 1em;
}

/*BUTTON DESIGN*/
.btn{
	border-radius: 88px;
	vertical-align: center;
}

.button-text{
	color: black;
}

.button-text-white{
	color: white;
}