<body>
	{{renderPage}}
</body>

<template name='layout'>
	
	<div class="layout-buttons">
		{{> loginButtons }}
		<h1>kaleo</h1>
	</div>
	 <div class="navbar myKaleo row">
	 	<a class='button-text btn btn_style' id='myKaleo_button' href="{{pathFor 'listView'}}"><b>myKaleo</b></a>
	 		{{#if notificationsCollection}}
			 	<div class="dropdown" id='notifications_dropdown'>
				  <button class="btn btn-default btn_style button-text btn_background" type="button" data-toggle="dropdown" aria-expanded="true">
				    notifications
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    {{#each notificationsCollection}}
			            <li class='notification_dropdown'><a href='#'>{{notified_user}}</a></li>
			        {{/each}}
				  </ul>
				</div>
			{{/if}}
	 </div>
	{{> yield}}
	
</template>