<template name='detailsViewTemplate'>
	<div class="container">
		<b>{{title}}</b>: {{description}} <i>[created: {{dateCreated}}] </i>
		<form class="form-inline new-detail-form">
			  <div class="form-group">
			    <input type="text" name='detail' class="form-control" placeholder="detail">
			  </div>
			  	<input type="hidden" name="parentId" value='{{_id}}'>
			  <button type="submit" class="btn btn-default">add detail</button>
		</form>
		<h3>details</h3>
		<ul class='detailViewList'>
			{{#each detailsCollection}}
			<li class='detailViewEntry'>
				<b>{{detail}}</b>
				<div class="btn btn-xs btn-danger" id="delete-detail">x</div>
			</li>
			{{/each}}
		</ul>
	</div>
</template>