<template name='detailsViewTemplate'>
	<div class="container">
		<div class="col-sm-8">
			<b>{{title}}</b>: {{description}} <i>[created: {{dateCreated}}] </i> <div class="btn btn-xs btn-danger" id="delete-list">delete</div>
			<form class="form-inline new-detail-form">
				  <div class="form-group">
				    <input type="text" name='detail' class="form-control" placeholder="detail">
				  </div>
				  	<input type="hidden" name="parentId" value='{{_id}}'>
				  <button type="submit" class="btn btn-default">add detail</button>
			</form>
			<u><h3>details</h3></u>
			<ul class='detailViewList'>
				{{#each detailsCollection}}
				<li class='detailViewEntry'>
					<input type="checkbox" class='detailCheckbox'>
					<b>{{detail}}</b>
					<div class="btn btn-xs btn-danger" id="delete-detail">x</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>